#input_bytes:valid {
  border-color: greenyellow;
}

input:invalid {
  border-color: red;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#input {
  display: flex;
  grid-column: 1 / -1;
  justify-content: center;
}

.output {
  display: flex;
  grid-row-start: 2;
  flex-direction: column;
}
